
@{
    ViewData["Title"] = "PersonDetails";
}

<h1>PersonDetails</h1>


<form asp-action="PersonDetails">
    <table class="table">
        <tr>
            <td>
                User Name
            </td>
            <td>
                @Html.TextBox("username")
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Html.TextBox("email")
            </td>
        </tr>
        <tr>
            <td>
                Select Gender
            </td>
            <td>
                @Html.RadioButton("gender", "Male") Male
                @Html.RadioButton("gender", "Female") Female
            </td>
        </tr>
        <tr>
            <td>
                Select City
            </td>
            <td>
                @Html.DropDownList("cities")
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>
