
@{
    ViewData["Title"] = "Display";
}
<p>

<h1>Display Employee Detaills</h1>

</p>

<p>
    Your Name : @ViewBag.Name
</p>
<p>
    Middle Name: @ViewBag.MiddleName
</p>
<p>
    Sir Name: @ViewBag.SirName
</p>
<p>
    Your Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    Your City : @ViewBag.City
</p>
<p>
   Department : @ViewBag.Department
</p>
<p>
    Sallary : @ViewBag.Salary
</p>